

body {
    color: darkblue;
    font-family: Helvetica;
    font-size: 14px;
    text-align: center;
}

#gray-background{
    background-color:lightgray;
}

.menu{
    background-color: salmon;
    height: 25px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding: 5%;
   

}

.title{
    background-color: sandybrown;
    border: 3px solid salmon;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid black;
    text-align: center;
    font-size: 15px;
}

.H1{
    border: 3px solid salmon;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.H2{
    border: 3px solid salmon;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.footer {
    background-color: salmon;
    font-family: helvetica;
    font-size: 10px;
    text-align: center;
    height: 40px;
    padding: 5%;


}